@using VNCLNIC.Common.Tools;
@using VNCLNIC.Models.Data;
@using VNCLNIC.Data;
@using VNCLNIC.ViewModels;
@model List<ClinicType>

<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        @if (Model.Count == 0)
        {
            @Html.Raw("<span class='text-center'>Không tìm thấy dữ liệu.</span>");
        }
        else
        {

            <thead class="thead-light">
                <tr>
                    <th style="width: 1%" id="indexstt">
                        <a href="#">STT</a>
                    </th>
                    @Html.Raw(ViewBag.GridHeader)
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="list">
                @{
                    int dem = 1;
                    foreach (var i in Model)
                    {
                        <tr>
                            <td data-text="STT" class="m-none">
                                @dem
                                @{dem++;}
                            </td>
                            <td data-text="Tên loại phòng khám">
                                @i.Name
                            </td>


                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        @using (Ajax.BeginForm("Update", "ClinicType", new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            LoadingElementId = "loader",
                                            UpdateTargetId = "modal-body-update"

                                        }, new { @id = "editform" + i.Id }))
                                        {
                                            <input type="hidden" name="id" value="@i.Id" />
                                            <button class="dropdown-item btn" type="submit">Chỉnh sửa</button>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        }
    </table>
</div>
<!-- Card footer -->
<div class="card-footer py-4">
    <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
            @{
                if (Model.Count > 0)
                {
                    @Html.Raw(ViewBag.Paging)
                }
            }
        </ul>
    </nav>
</div>
